@page
@model Nhom11.QLQC.Pages.LoaiQuangCaoModel
@using global::QLQC.DTO
@{
}
<form method="post">
<div class="row">
    <div class="col-5 form-group">
        <label>      Mã loại quảng cáo :    </label>
        <input type="text"  id="mlqc" name="mlqc" class="form-control" />
    </div>
    <div class="col-5 form-group">
        <label>Hình thức quảng cáo : </label>
        <select  id="nbd" name="nbd" class="form-control">
            <option value =""></option>
            <option value ="KOL">KOL</option>            
            <option value ="Page">Page</option> 
            <option value ="Youtube">Youtube</option>                 
        </select>          
    </div>
        
    <div class="col-2 form-group">
            <br />
            <input style="margin-top: 5px; margin-left: 70px" type="submit" class="btn btn-primary" value="Tìm kiếm"/>
    </div>
</div>
</form>
<br />
<div class="text-center">
<h2><b>Danh sách loại quảng cáo</b></h2>
</div>
    
@if (Request.Method.ToUpper() == "GET")
{
<table class="table table-success table-condensed">
    <tr style="text-align:center">
        <th>Mã loại quảng cáo</th>
        <th>Hình thức quảng cáo</th>
        <th>Mô tả</th>
        <th>Các dự án quảng cáo</th>
        <th >Tác vụ</th>
    </tr>
        @foreach (LoaiQcDTO lqc in Model.lst)
        {
            <tr style="text-align:center">
                <td>@lqc.MaLoai</td>
                <td>@lqc.HinhThuc</td>
                <td>@lqc.MoTa</td>
                <td>
                   @foreach (var q in Model.lst1)
                  {
                        if(String.Compare(@q.MaLoai,@lqc.MaLoai) == 0)
                        {
                            @q.MaQc<br />
                        }
                  }
                  <a asp-area="" asp-page="/QuangCaoVaLoaiQuangCao">Chi tiết</a>
                </td>
                 <td>
                    <button style="margin-bottom:5px" type="button" class="btn btn-outline-primary" >Sửa</button>                   
                    <button type="button" class="btn btn-outline-danger" >Xoá</button>
                </td>
            </tr>
        }
    
</table>
}
else if(Request.Method.ToUpper() == "POST") {
    <table class="table table-success table-condensed">
    <tr style="text-align:center">
        <th>Mã loại quảng cáo</th>
        <th>Hình thức quảng cáo</th>
        <th>Mô tả</th>
        <th>Các dự án quảng cáo</th>
        <th>Tác vụ</th>
    </tr>     
    @foreach (LoaiQcDTO lqc in Model.lst)
        {
            <tr style="text-align:center">
                <td>@lqc.MaLoai</td>
                <td>@lqc.HinhThuc</td>
                <td>@lqc.MoTa</td>
                <td>
                   @foreach (var q in Model.lst1)
                  {
                        if(String.Compare(@q.MaLoai,@lqc.MaLoai) == 0)
                        {
                            @q.MaQc<br />
                        }
                  }
                  <a asp-area="" asp-page="/QuangCaoVaLoaiQuangCao">Chi tiết</a>
                </td>
                 <td>
                    <button style="margin-bottom:5px" type="button" class="btn btn-outline-primary" >Sửa</button>                   
                    <button type="button" class="btn btn-outline-danger" >Xoá</button>
                </td>
            </tr>
        }
</table>
}
