@page
@using global::QLQC.DTO
@using System.Text.Json;
@model Nhom11.QLQC.Pages.NhanVienModel
@{
}
@Html.AntiForgeryToken()
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}
<script>
    var dataNv = @Html.Raw(JsonSerializer.Serialize(Model.lst));
    var dataNvx = @Html.Raw(JsonSerializer.Serialize(Model.lst2));
    var curPageNv = 1;
    var totPageNv = @Html.Raw(Model.totalPageNv);
    var lststatic1 = @Html.Raw(JsonSerializer.Serialize(Model.lststatic1));
    var lststatic2 = @Html.Raw(JsonSerializer.Serialize(Model.lststatic2));

</script>
<form method="post">
    <div class="row">
        <div class="col-3 form-group">
            <label>Mã nhân viên : </label>
            <input type="text" id="mnv" name="mnv" class="form-control" />
        </div>
        <div class="col-2 form-group">
            <label>      Mã nhóm :    </label>
            <select id="mn" name="mn" class="form-control">
                <option value=""></option>
                @foreach (var item in Model.lst1)
                {
                    <option value="@item.MaNhom">@item.MaNhom</option>

                }
            </select>
        </div>
        <div class="col-3 form-group">
            <label>Tên nhân viên : </label>
            <input type="text" id="tnv" name="tnv" class="form-control" />
        </div>
        <div class="col-2 form-group">
            <label>      Năm vào làm:     </label>
            <select id="nvl" name="nvl" class="form-control">
                <option value=""></option>
                <option value="2014">Trước năm 2014</option>
                <option value="2018">Trước năm 2014</option>
                <option value="2021">Từ năm 2021</option>
            </select>
        </div>
        <div class="col-2 form-group">
            <br />
            <input style="margin-top: 5px; margin-left: 70px" type="submit" class="btn btn-primary" value="Tìm kiếm" />
        </div>
    </div>
</form>
<br />
<div class="text-center">
    <h2 style="display: inline-block"><b>Danh sách nhân viên</b></h2>
    <button style="float: right" type="button" onclick="openModalNV(null);" class="btn btn-outline-success"> Thêm mới</button>
</div>

@if (Request.Method.ToUpper() == "GET")
{
    <table id="tbNV" class="table table-success table-condensed">
        <tr>
            <th>Mã nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Mã nhóm</th>
            <th>Ngày sinh</th>
            <th>Ngày vào làm</th>
            <th>Email</th>
            <th>Giới tính</th>
        </tr>
        <tbody id="tbodyNv">
            @foreach (NhanVienDTO nv in Model.lst2)
            {
                <tr id="trNv_@nv.MaNv" style="text-align:center">
                    <td>@nv.MaNv</td>
                    <td>@nv.TenNv</td>
                    <td>@nv.MaNhom</td>
                    <td>@nv.NgSinh</td>
                    <td>@nv.NgVaoLam</td>
                    <td>@nv.Email</td>
                    <td>@nv.Gt</td>

                    <td>
                        <button style="margin-bottom:5px" type="button" onclick="openModalNV('@nv.MaNv');" class="btn btn-outline-primary">Sửa</button>
                        <button type="button" onclick="deleteNhanVien('@nv.MaNv');" class="btn btn-outline-danger">Xoá</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" onclick="goPrevNv();" href="javascript:void(0);">Previous</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);"> <span id="spanCurrentPageNv">1</span></a></li>
            <li class="page-item"><a class="page-link" onclick="goNextNv();" href="javascript:void(0);">Next</a></li>
        </ul>
    </nav>
}
else if (Request.Method.ToUpper() == "POST")
{
    <table id="tbNV" class="table table-success table-condensed">
        <tr>
            <th>Mã nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Mã nhóm</th>
            <th>Ngày sinh</th>
            <th>Ngày vào làm</th>
            <th>Email</th>
            <th>Giới tính</th>
        </tr>
        @foreach (NhanVienDTO nv in Model.lst)
        {
            <tr id="trNv_@nv.MaNv" style="text-align:center">
                <td>@nv.MaNv</td>
                <td>@nv.TenNv</td>
                <td>@nv.MaNhom</td>
                <td>@nv.NgSinh</td>
                <td>@nv.NgVaoLam</td>
                <td>@nv.Email</td>
                <td>@nv.Gt</td>

                <td>
                    <button style="margin-bottom:5px" type="button" onclick="openModalNV('@nv.MaNv');" class="btn btn-outline-primary">Sửa</button>
                    <button type="button" onclick="deleteNhanVien('@nv.MaNv');" class="btn btn-outline-danger">Xoá</button>
                </td>
            </tr>
        }
    </table>
}
<div style="margin-left:-150px" class="rows">
    <div class="col-6" style=" display: inline-block">
        <div id="piechart1" style="width: 900px; height: 500px;"></div>
    </div>
    <div class="col-3" style="display: inline-block">
        <div id="piechart2" style="width: 900px; height: 500px;"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart1);
    google.charts.setOnLoadCallback(drawChart2);
    function drawChart1() {
        var dataC = [
            ['Year', 'Hours per Day'],

        ];
        for (var i = 0; i < lststatic1.length; i++) {
            var arr = [lststatic1[i].Year, lststatic1[i].NumberEmpl];
            dataC.push(arr);
        }
        var data = google.visualization.arrayToDataTable(dataC);
        var options = {
            title: 'Phần trăm nhân viên mới vào làm hăng năm'
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart1'));
        chart.draw(data, options);
    }
    function drawChart2() {
        var dataC = [
            ['Task', 'Hours per Day'],

        ];
        for (var i = 0; i < lststatic2.length; i++) {
            var arr = [lststatic2[i].MaNhom, lststatic2[i].NumberEmpl];
            dataC.push(arr);
        }
        var data = google.visualization.arrayToDataTable(dataC);
        var options = {
            title: 'Tỉ lệ nhân viên ở mỗi nhóm'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);
    }
</script>
<div id="divModalNV" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm nhân viên - <span id="spanIdNv"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtMaNv">Mã nhân viên</label>
                    <input type="text" class="form-control" id="txtMaNv" aria-describedby="MaNvHelp">
                    <small id="MaNvHelp" class="form-text text-muted">Mã nhân viên không được trống !</small>
                </div>
                <div class="form-group">
                    <label for="txtTenNv">Tên nhân viên</label>
                    <input type="text" class="form-control" id="txtTenNv" aria-describedby="TenNvHelp">
                    <small id="TenNvHelp" class="form-text text-muted">Tên nhân viên không được trống !</small>
                </div>
                <div class="form-group">
                    <label for="txtMaNhom">Mã nhóm</label>
                    <input type="text" class="form-control" id="txtMaNhom" aria-describedby="MaNhomHelp">
                    <small id="MaNhomHelp" class="form-text text-muted">Mã nhóm không được trống !</small>
                </div>
                <div class="form-group">
                    <label for="txtNgVaoLam">Ngày vào làm</label>
                    <input type="text" class="form-control" id="txtNgVaoLam" aria-describedby="NgVaoLamHelp">
                    <small id="NgVaoLamHelp" class="form-text text-muted">Ngày vào làm không được trống !.</small>
                </div>
                <div class="form-group">
                    <label for="txtNgSinh">Ngày sinh </label>
                    <input type="text" class="form-control" id="txtNgSinh" aria-describedby="MaNhomHelp">
                    <small id="NgSinhHelp" class="form-text text-muted">Ngày sinh không được trống !.</small>
                </div>
                <div class="form-group">
                    <label for="txtEmail">Email</label>
                    <input type="text" class="form-control" id="txtEmail" aria-describedby="EmailHelp">
                </div>
                <div class="form-group">
                    <label for="txtGt">Giới tính</label>
                    <input type="text" class="form-control" id="txtGt" aria-describedby="GtHelp" />
                    <small id="GtHelp" class="form-text text-muted">Giới tính không được trống !.</small>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="saveNhanVien();" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>

<script id="nvTemplate" type="text/x-jquery-tmpl">
    <tr id="trNv_${maNv}" style="text-align:center">
        <td>${maNv}</td>
        <td>${tenNv}</td>
        <td>${maNhom}</td>
        <td>${ngSinh}</td>
        <td>${ngVaoLam}</td>
        <td>${email}</td>
        <td>${gt}</td>

        <td>
            <button style="margin-bottom:5px" type="button" onclick="openModalNV('${maNv}');" type="button" class="btn btn-outline-primary">Sửa</button>
            <button type="button" onclick="deleteNhanVien('${maNv}');" class="btn btn-outline-danger">Xoá</button>
        </td>
    </tr>
</script>


