@page
@using global::QLQC.DTO
@using System.Text.Json
@model Nhom11.QLQC.Pages.QuangCaoModel
@{
}
<script>
    var dataQc = @Html.Raw(JsonSerializer.Serialize(Model.lst));
</script>
<form method="post">
<div class="row">
    <div class="col-3 form-group">
        <label>Mã quảng cáo :</label>
        <input type="text" id="mqc" name="mqc" class="form-control" />
    </div>
    <div class="col-3 form-group">
        <label>Ngày bắt đầu : </label>
        <select  id="nbd" name="nbd" class="form-control">
            <option value =""></option>
            <option value ="2018">Trước năm 2018</option>            
            <option value ="2019">2018 -> 2019</option> 
            <option value ="2020">2019 -> 2020</option> 
            <option value ="2021">Từ năm 2021</option> 
        </select>          
    </div>
    <div class="col-3 form-group">
        <label>Tổng tiền (nhỏ hơn hoặc bằng) : </label>
        <input type="text"  id="tt" name="tt" class="form-control" /> 
    </div>
    <div class="col-3 form-group">
        <label>Mã nhóm thực hiện : </label>
        <input type="text"  id="mn" name="mn" class="form-control" /> 
        @*<select  id="mn" name="mn" class="form-control">
            
            <option value =""></option>
            
            @foreach (var item in Model.lst2)
            {
               <option value="@item.MaLoai">@item.MaLoai</option>
            }
        </select> *@     
    </div>
    <div class="col-3 form-group">
        <label>Mã khách hàng : </label>
        @*<select  id="mkh" name="mkh" class="form-control">
            <option value =""></option>
            
        </select>  *@
        <input type="text" id="mkh" name="mkh" class="form-control" /> 
    </div>
    <div class="col-3 form-group">
        <label>Theo ngày bắt đầu</label>
        <select  id="sx1" name="sx1" class="form-control">
            <option value =""> </option>            
            <option value ="tangdan">Tăng dần ↑ </option>
            <option value ="giamdan">Giảm dần ↓ </option>
        </select>
    </div>
    <div class="col-3 form-group">
        <label>Theo tiền quảng cáo</label>
        <select  id="sx2" name="sx2" class="form-control">
            <option value =""> </option>            
            <option value ="tangdan">Tăng dần ↑ </option>
            <option value ="giamdan">Giảm dần ↓ </option>
        </select>
    </div>
    <div class="col-3 form-group">
            <br />
            <input style="margin-top: 5px; margin-left: 165px" type="submit" class="btn btn-primary" value="Tìm kiếm"/>
    </div>
</div>
</form>
<br />
<div class="text-center" >
    <h2 style="display: inline-block"><b>Danh sách các quảng cáo</b></h2>
    <input style="float: right" onclick="openModalQuangCaoAdd()" type = "button" class="btn btn-outline-success" value="Thêm mới" />
    <div style="text-align:left"id="divModalAdd" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Quảng cáo - <span id="spanidA"></span></h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="form-group">
                <label>Mã quảng cáo </label> 
                <input type="text" class="form-control" id="txtmqcA"/> 
            </div>
            <div class="form-group">
                <label>Ngày bắt đầu </label>
                <input type="datetime-local" class="form-control" id="txtnbdA"/> 
            </div>
            <div class="form-group">
                <label>Ngày kết thúc </label>
                <input type="datetime-local" class="form-control" id="txtnttA"/> 
            </div>
            <div class="form-group">
                <label>Tổng tiền</label>
                <input type="text" class="form-control" id="txtTtA"placeholder="Nhập Tổng tiền" /> 
            </div>
            <div class="form-group">
                <label>Nhóm thực hiện</label>
                <input type="text" class="form-control" id="txtNthA"/> 
            </div>
            <div class="form-group">
                <label>Khách hàng</label>
                <input type="text" class="form-control" id="txtKhA"/> 
            </div>
            <div class="form-group">
                <label>Yêu cầu</label>
                <textarea type="text" class="form-control" id="txtycA"></textarea>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
            <button type="button" onclick="addQuangCao()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
@if (Request.Method.ToUpper() == "GET")
{
<table class="table table-success table-condensed">
    <tr style="text-align:center">
        <th>Mã quảng cáo</th>
        <th>Ngày thành lập</th>
        <th>Ngày kết thúc</th>
        <th>Tổng tiền</th>
        <th>Nhóm thực hiện</th>
        <th>Khách hàng</th>
        <th>Mô tả</th>
        <th>Loại quảng cáo</th>
        <th colspan="2">Tác vụ</th>
    </tr>
    @foreach(QuangCaoDTO qc in Model.lst )
    {
        <tr id="trQc@qc.MaQc" style="text-align:center">
            <td>@qc.MaQc</td>
            <td>@qc.NgBd</td>
            <td>@qc.NgKt</td>
            <td>@qc.SoTien</td>
            <td>@qc.MaNhom</td>
            <td>@qc.MaKh</td>
            <td>@qc.YeuCau</td>
            <td>
               @foreach (var q in Model.lst1)
               {
                    @if(String.Compare(@q.MaQc, @qc.MaQc)==0)
                    {
                        @q.MaLoai <br />
                    }                       
               }
               <a asp-area="" asp-page="/QuangCaoVaLoaiQuangCao">Chi tiết</a>
            </td>
            <td>
                <button style="margin-bottom:5px" onclick="openModalQuangCao('@qc.MaQc')" type="button" class="btn btn-outline-primary" >Sửa</button>                   
                <button type="button" onclick="deleteQuangCao('@qc.MaQc.Trim()')" class="btn btn-outline-danger" >Xoá</button>
            </td>
        </tr> 
    }
</table>
}
else if(Request.Method.ToUpper() == "POST") {
    <table class="table table-success table-condensed">
    <tr style="text-align:center">
        <th>Mã quảng cáo</th>
        <th>Ngày thành lập</th>
        <th>Ngày kết thúc</th>
        <th>Tiền quảng cáo</th>
        <th>Nhóm thực hiện</th>
        <th>Khách hàng</th>
        <th>Mô tả</th>
        <th>Loại quảng cáo</th>
        <th colspan="2">Tác vụ</th>
    </tr>        
    @foreach(QuangCaoDTO qc in Model.lst )
    {
        <tr id="trQc@qc.MaQc" style="text-align:center">
            <td>@qc.MaQc</td>
            <td>@qc.NgBd</td>
            <td>@qc.NgKt</td>
            <td>@qc.SoTien</td>
            <td>@qc.MaNhom</td>
            <td>@qc.MaKh</td>
            <td>@qc.YeuCau</td>
            <td>
               @foreach (var q in Model.lst1)
               {
                    @if(String.Compare(@q.MaQc, @qc.MaQc)==0)
                    {
                        @q.MaLoai <br />
                    }
                        
               }
               <a asp-area="" asp-page="/QuangCaoVaLoaiQuangCao">Chi tiết</a>
            </td>
            <td>
                <button style="margin-bottom:5px" onclick="openModalQuangCao('@qc.MaQc')" type="button" class="btn btn-outline-primary" >Sửa</button>                   
                <button type="button" onclick="deleteQuangCao('@qc.MaQc.Trim()')" class="btn btn-outline-danger" >Xoá</button>
            </td>
        </tr> 
    }
</table>
}
<div style="text-align:left" id="divModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Quảng cáo - <span id="spanid"></span></h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div class="form-group">
            <label>Ngày bắt đầu </label>
            <input type="datetime-local" class="form-control" id="txtnbd"/> 
        </div>
        <div class="form-group">
            <label>Ngày kết thúc </label>
            <input type="datetime-local" class="form-control" id="txtntt"/> 
        </div>
        <div class="form-group">
            <label>Tổng tiền</label>
            <input type="text" class="form-control" id="txtTt"placeholder="Nhập Tổng tiền" /> 
        </div>
        <div class="form-group">
            <label>Nhóm thực hiện</label>
            <input type="text" class="form-control" id="txtNth"/> 
        </div>
        <div class="form-group">
            <label>Khách hàng</label>
            <input type="text" class="form-control" id="txtKh"/> 
        </div>
        <div class="form-group">
            <label>Yêu cầu</label>
            <textarea type="text" class="form-control" id="txtyc"></textarea>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
        <button type="button" onclick="saveQuangCao()" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    </div>
</div>
