@page
@using global::QLQC.DTO
@using System.Text.Json
@model Nhom11.QLQC.Pages.QuangCaoModel
@{
}
<script>
    var dataQc = @Html.Raw(JsonSerializer.Serialize(Model.lst1));
    var dataQcx = @Html.Raw(JsonSerializer.Serialize(Model.lst));
    var lststatic = @Html.Raw(JsonSerializer.Serialize(Model.lststatic));
    var curPageQC = 1;
    var totalPageQC = @Html.Raw(Model.TotalPage);
</script>
<form method="post">
    <div class="row">
        <div class="col-3 form-group">
            <label>Mã quảng cáo :</label>
            <input type="text" id="mqc" name="mqc" class="form-control" />
        </div>
        <div class="col-3 form-group">
            <label>Ngày bắt đầu : </label>
            <select  id="nbd" name="nbd" class="form-control">
                <option value =""></option>
                <option value ="2018">Trước năm 2018</option>            
                <option value ="2019">2018 -> 2019</option> 
                <option value ="2020">2019 -> 2020</option> 
                <option value ="2021">Từ năm 2021</option> 
            </select>          
        </div>
        <div class="col-3 form-group">
            <label>Tổng tiền (nhỏ hơn hoặc bằng) : </label>
            <input type="text"  id="tt" name="tt" class="form-control" /> 
        </div>
        <div class="col-3 form-group">
            <label>Mã nhóm thực hiện : </label>
            <input type="text"  id="mn" name="mn" class="form-control" />    
        </div>
        <div class="col-3 form-group">
            <label>Mã khách hàng : </label>
            <input type="text" id="mkh" name="mkh" class="form-control" /> 
        </div>
        <div class="col-3 form-group">
            <label>Theo ngày bắt đầu</label>
            <select  id="sx1" name="sx1" class="form-control">
                <option value =""> </option>            
                <option value ="tangdan">Tăng dần ↑ </option>
                <option value ="giamdan">Giảm dần ↓ </option>
            </select>
        </div>
        <div class="col-3 form-group">
            <label>Theo tiền quảng cáo</label>
            <select  id="sx2" name="sx2" class="form-control">
                <option value =""> </option>            
                <option value ="tangdan">Tăng dần ↑ </option>
                <option value ="giamdan">Giảm dần ↓ </option>
            </select>
        </div>
        <div class="col-3 form-group">
                <br />
                <input style="margin-top: 5px; margin-left: 165px" type="submit" class="btn btn-primary" id="tkx" value="Tìm kiếm"/>
        </div>
    </div>
</form>
<br />
<div class="text-center" >
    <h2 style="display: inline-block"><b>Danh sách các quảng cáo</b></h2>
    <input style="float: right" onclick="openModalQuangCaoAdd()" type = "button" class="btn btn-outline-success" value="Thêm mới" />
    <div style="text-align:left"id="divModalAdd" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Quảng cáo - <span id="spanidA"></span></h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="form-group">
                <label>Mã quảng cáo </label> 
                <input type="text" class="form-control" id="txtmqcA"/> 
                <small class="form-text text-muted">Mã quảng cáo không được trống !</small>
            </div>
            <div class="form-group">
                <label>Ngày bắt đầu </label>
                <input type="datetime-local" class="form-control" id="txtnbdA"/> 
                <small class="form-text text-muted">Ngày bắt đầu không được trống !</small>
            </div>
            <div class="form-group">
                <label>Ngày kết thúc </label>
                <input type="datetime-local" class="form-control" id="txtnttA"/> 
                <small class="form-text text-muted">Ngày kết thúc không được trống !</small>
            </div>
            <div class="form-group">
                <label>Tổng tiền</label>
                <input type="text" class="form-control" id="txtTtA"placeholder="Nhập Tổng tiền" /> 
                <small class="form-text text-muted">Tổng tiền không được trống !</small>
            </div>
            <div class="form-group">
                <label>Nhóm thực hiện</label>
                <input type="text" class="form-control" id="txtNthA"/> 
                <small class="form-text text-muted">Nhóm thực hiện không được trống !</small>
            </div>
            <div class="form-group">
                <label>Khách hàng</label>
                <input type="text" class="form-control" id="txtKhA"/> 
                <small class="form-text text-muted">Khách hàng không được trống !</small>
            </div>
            <div class="form-group">
                <label>Yêu cầu</label>
                <textarea type="text" class="form-control" id="txtycA" rows="5"></textarea>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
            <button type="button" onclick="addQuangCao()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
@if (Request.Method.ToUpper() == "GET")
{
    <table id="tblQc" class="table table-success table-condensed">
        <tr style="text-align:center">
            <th>Mã quảng cáo</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Số tiền</th>
            <th>Nhóm thực hiện</th>
            <th>Khách hàng</th>
            <th>Mô tả</th>
            <th>Loại quảng cáo</th>
            <th colspan="2">Tác vụ</th>
        </tr>
        <tbody id="tbodyQc">
            @foreach(QuangCaoDTO qc in Model.lst )
            {
                <tr id="trQc@qc.MaQc" style="text-align:center">
                <td>@qc.MaQc</td>
                <td>@qc.NgBd</td>
                <td>@qc.NgKt</td>
                <td>@qc.SoTien</td>
                <td>@qc.MaNhom</td>
                <td>@qc.MaKh</td>
                <td>@qc.YeuCau</td>
                <td>  <button type="submit" class="btn btn-outline-primary" > <a href="/QuangCaoVaLoaiQuangCao">Chi tiết</a></button>         
                </td>
                <td>
                    <button style="margin-bottom:5px" onclick="openModalQuangCao('@qc.MaQc')" type="button" class="btn btn-outline-primary" >Sửa</button>                   
                    <button type="button" onclick="deleteQuangCao('@qc.MaQc.Trim()')" class="btn btn-outline-danger" >Xoá</button>
                </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="goPrevQuangCao()">Previous</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)"><span id="spanCurrentPageQC">1</span></a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="goNextQuangCao()">Previous</a></li>
        </ul>
    </nav>
}
else if(Request.Method.ToUpper() == "POST") {
    <table id="tblQc" class="table table-success table-condensed">
    <tr style="text-align:center">
        <th>Mã quảng cáo</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Số tiền</th>
        <th>Nhóm thực hiện</th>
        <th>Khách hàng</th>
        <th>Mô tả</th>
        <th>Loại quảng cáo</th>
        <th colspan="2">Tác vụ</th>
    </tr>        
    <tbody id="tbodyQc">
        @foreach(QuangCaoDTO qc in Model.lst )
        {
            <tr id="trQc@qc.MaQc" style="text-align:center">
            <td>@qc.MaQc</td>
            <td>@qc.NgBd</td>
            <td>@qc.NgKt</td>
            <td>@qc.SoTien</td>
            <td>@qc.MaNhom</td>
            <td>@qc.MaKh</td>
            <td>@qc.YeuCau</td>
            <td>                
                <button type="submit" class="btn btn-outline-primary" > <a href="/QuangCaoVaLoaiQuangCao">Chi tiết</a></button>         
            </td>
            <td>
                <button style="margin-bottom:5px" onclick="openModalQuangCao('@qc.MaQc')" type="button" class="btn btn-outline-primary" >Sửa</button>                   
                <button type="button" onclick="deleteQuangCao('@qc.MaQc.Trim()')" class="btn btn-outline-danger" >Xoá</button>
            </td>
        </tr> 
        }
    </tbody>
</table>
}
<div style="margin-left: 20%">
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

    var dataC = [
        ['Year', 'Advertisement', 'Sum Prices(MILLION VNĐ)'],

    ];
    for(var i = 0; i < lststatic.length;i++){
        var arr = [lststatic[i].Year,lststatic[i].Number,lststatic[i].SumPrice];
        console.log(arr);
        dataC.push(arr);
    }
    var data = google.visualization.arrayToDataTable(dataC);
    var options = {
          chart: {
            title: 'Tổng số quảng cáo qua các năm',
          }
        };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
    chart.draw(data, google.charts.Bar.convertOptions(options));
}
</script>
<div style="text-align:left" id="divModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Quảng cáo - <span id="spanid"></span></h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div class="form-group">
            <label>Ngày bắt đầu </label>
            <input type="datetime-local" class="form-control" id="txtnbd"/> 
            <small class="form-text text-muted">Ngày bắt đầu không được trống !</small>
        </div>
        <div class="form-group">
            <label>Ngày kết thúc </label>
            <input type="datetime-local" class="form-control" id="txtntt"/> 
            <small class="form-text text-muted">Ngày kết thúc không được trống !</small>
        </div>
        <div class="form-group">
            <label>Tổng tiền</label>
            <input type="text" class="form-control" id="txtTt"placeholder="Nhập Tổng tiền" /> 
            <small class="form-text text-muted">Tổng tiền không được trống !</small>
        </div>
        <div class="form-group">
            <label>Nhóm thực hiện</label>
            <input type="text" class="form-control" id="txtNth"/> 
            <small class="form-text text-muted">Nhóm thực hiện không được trống !</small>
        </div>
        <div class="form-group">
            <label>Khách hàng</label>
            <input type="text" class="form-control" id="txtKh"/>
            <small class="form-text text-muted">Khách hàng không được trống !</small>
        </div>
        <div class="form-group">
            <label>Yêu cầu</label>
            <textarea type="text" class="form-control" id="txtyc" rows="5"></textarea>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
        <button type="button" onclick="saveQuangCao()" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    </div>
</div>
<script id="QcTemplate" type="text/x-jquery-tmpl">
    <tr id="trQc${maQc}" style="text-align:center">
            <td>${maQc}</td>
            <td>${ngBd}</td>
            <td>${ngKt}</td>
            <td>${soTien}</td>
            <td>${maNhom}</td>
            <td>${maKh}</td>
            <td>${yeuCau}</td>
            <td>
                <button type="submit" class="btn btn-outline-primary" ><a href="/QuangCaoVaLoaiQuangCao">Chi tiết</a></button>         
            </td>
            <td>
                <button style="margin-bottom:5px" onclick="openModalQuangCao('${maQc}')" type="button" class="btn btn-outline-primary" >Sửa</button>                   
                <button type="button" onclick="deleteQuangCao('${maQc}')" class="btn btn-outline-danger" >Xoá</button>
            </td>
        </tr> 
</script>